*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #7c1cda;
    --secondary-color: #7b68ee;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 20px 40px;
    padding: 0;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    font-size: 1.2em;
}

.nav-links a {
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 30px;
    color: black;
    border-radius: 7px;
    cursor: pointer;
}

.nav-links a:last-child{
    color: white;
    background: var(--primary-color);
    border: solid;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    flex: 1;
    padding: 20px;
}

.section-heading {
    font-size: 60px;
    line-height: 80px; 
}

.left-section p {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    width: 60%;
    gap: 10px;
}

.grid-item {
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.right-section {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section img {
    border-radius: 8px;
    width: 50%;
    transform: scale(1.9);
}

.cta{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cta a{
    text-decoration: none;
    color: white;
    background: var(--secondary-color);
    padding: 13px 40px;
    border-radius: 7px;
    box-shadow: 0 5px 20px #7b68ee;
}
.cta p{
    font-size: 13px;
    color: gray;
    letter-spacing: 1px;
}
.check{
    color: #3ab26b;
    border: 2px solid #3ab26b;
    border-radius: 50%;
    padding: 2px 4px;
}

.blob_image{
    position: absolute;
    top: -5rem;
    right: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    z-index: -1000;
}

.blob_image img{
    transform: scale(1.4);
}

.down_by_bit{
    padding-top: 20px;
}




/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        margin-top: 10px;
    }
    .nav-links a{
        padding: 5px 7px;
    }
    .nav-links a:first-child{
        padding: 5px 7px 5px 0;
    }
    .blob_image{
        display: none;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .left-section,
    .right-section {
        flex: 1;
        max-width: 100%;
    }
    .grid-container{
        width: 100%;
    }
    .right-section{
        padding-top: 5rem;
    }
}


